body {
	font-family: "Ubuntu", sans-serif;
	color: #212529;
	text-align: center;
	line-height: 1.8em;
}
textarea,
button {
	font-size: 0.9em;
	border-radius: 1em;
	font-family: inherit;
	background-color: #f8f9fa;
	border-color: #ced4da;
}
textarea {
	height: 9em;
	font-size: 1.1em;
	padding: 0.6em;
	border-width: 1px;
	outline: none;
}
textarea:hover {
	border-color: #adb5bd;
}
textarea:focus {
	border-color: #868e96;
}
@media (orientation: portrait) {
	textarea {
		width: 100%;
	}
	body {
		margin: 0.7em;
	}
}
@media (orientation: landscape) {
	textarea {
		width: 60%;
	}
	body {
		margin: 1em;
	}
}
input,
label {
	vertical-align: middle;
}
button {
	border-style: solid;
	border-width: 1px;
	margin-left: 0.1em;
	margin-right: 0.1em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	outline: none;
}
button:hover,
button:active {
	cursor: pointer;
	background-color: #e9ecef;
	border-color: #adb5bd;
}
div {
	margin: 0.2em;
}
#msg {
	color: #c92a2a;
}
